/* section{
    background-color: aqua;
}
.body{
    background-color: aqua;
} */
/* .formm{
    /* background-color: aqua; */
    /* width: 350px;
    height: 74px;
border-radius: 50px;
 border: 1px; */ 
 
    
    
    
/* .card{
    background-color: aqua;
    width: 1440px;
    height: 489px;
    top: 840px;
left: -1px */



/* .hyu{
    background-color: brown;
    width: Hug (800px);
 height: Hug (595px);
 top: 16px;
 left: 43px;;
 gap: 31px

}
.layout{
    width: Hug (800px);
height: Hug (500px);
top: 146px;
left: 101px;


} */
.grip{
    background-color: hsl(223, 58%, 29%);
}
.body{
    background-color: hsl(198, 69%, 93%);
}